# Ignore macOS system files
.DS_Store

# Ignore Node modules
node_modules/

# Ignore log files
*.log

# Ignore build files
/dist/
/build/

# .NET / Visual Studio
.vs/
bin/
obj/
obj2/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore environment variable files
.env
