@inherits LayoutComponentBase

<div class="page">
    <nav class="navbar">
        <div class="nav">
            <a class="navbar-brand" href="">High &amp; Heavy Shipment</a>
            <a href="">Overview</a>
            <a href="shipments">Shipments</a>
        </div>
    </nav>

    <main class="page-body container">
        @Body
    </main>
</div>
